.git
__pycache__
*.pyc
*.pyo
*.pyd
env/
venv/
*.db
.DS_Store
*.log
*.sqlite
*.sqlite3
*.sublime-workspace
*.sublime-project
*.sublime-settings
*.sublime-keymap
*.sublime-mousemap
*.sublime-build
*.sublime-completions
*.sublime-goto
*.sublime-index
*.sublime-macro
*.sublime-minimap
